<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the installation.
 * You don't have to use the website, you can copy this file to "wp-config.php"
 * and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * Database settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://developer.wordpress.org/advanced-administration/wordpress/wp-config/
 *
 * @package WordPress
 */

// ** Database settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
/** define( 'DB_NAME', 'alb-db' ); */
define( 'DB_NAME', '{{ mysql_databases[0]['name'] }}' );

/** Database username */
/** define( 'DB_USER', 'alb-user' ); */
define( 'DB_USER', '{{ mysql_users[0]['name'] }}' );

/** Database password */
/** define( 'DB_PASSWORD', 'alb-user' ); */
define( 'DB_PASSWORD', '{{ mysql_users[0]['password'] }}' );

/** Database hostname */
define( 'DB_HOST', '192.168.0.14' ); 

/** Database charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8mb4' );

/** The database collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication unique keys and salts.
 *
 * Change these to different unique phrases! You can generate these using
 * the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}.
 *
 * You can change these at any point in time to invalidate all existing cookies.
 * This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         '8E` d~B)R{hM^0K@E&wLrU-y+E<aDa<Hhic8f{]@Ntuo+Z^j-di_mxF( hkEZ@??' );
define( 'SECURE_AUTH_KEY',  'weq3wB`Sop^5!,v%N.d[Tn1Wk6g|]7RX^OFA#OwIbu@T=oPTY$qI|{MTRo wm>mf' );
define( 'LOGGED_IN_KEY',    '<mgTU#l)_GHe@l[{jW}iyWJ3QBR|k8fx)<LZcwy5&,z$_&>uXJ=d-g)m~ZL#s{Qq' );
define( 'NONCE_KEY',        'Tac)72U-QOL@IsU`jm`Uc C%JHngEK49^7R.Eg0*Ws`-/N.7`mG@DVhD6H]EI*6~' );
define( 'AUTH_SALT',        '<g_V??h2/W`M4g.qjy1!~,;J7v|Di&qH[g)f5}zlW/(E6D q5|SC, ]mJ5^>}),T' );
define( 'SECURE_AUTH_SALT', 'nV5|ba I_T_z,EhL97mn7.TT7n^Y^9%RQ0Gq5+fco^Gl92:[#EK5`]}KLbV>OyGc' );
define( 'LOGGED_IN_SALT',   'Pw2fhHbO/da&Tp7|}{6*9Lqy[&9ns=x9m#aa&6;mTY-V@G,t(sz)!ZJnKr74L9e<' );
define( 'NONCE_SALT',       'C{I2860KPT>*2>XxoyJ}lHupXT(`Rr<E)gT,zW#[D>V(Qn/Jr(iL$j]Bc*cmJSy5' );

/**#@-*/

/**
 * WordPress database table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 *
 * At the installation time, database tables are created with the specified prefix.
 * Changing this value after WordPress is installed will make your site think
 * it has not been installed.
 *
 * @link https://developer.wordpress.org/advanced-administration/wordpress/wp-config/#table-prefix
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://developer.wordpress.org/advanced-administration/debug/debug-wordpress/
 */
define( 'WP_DEBUG', false );

/* Add any custom values between this line and the "stop editing" line. */



/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';

